---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Astro Learning Blog";
---
<BaseLayout pageTitle={pageTitle}>
    <p>This will be where my blog goes. If I write a blog. Or not. We'll see.</p>

    {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}

</BaseLayout>